body {
	color:		#333333;
	font-size:	14px;
}

a {
	color:		#75a800;
}

hr {
	height:			0px;
	margin-top:		20px;
	margin-bottom:	20px;
	border-top: 1px solid #eeeeee;
}

h1.header {
	color:		#669900;
}

h1.header:not(.wiki_page_header){
	padding-bottom:	1rem;
	border-bottom:	2px solid #eeeeee;
}

.navbar-default {
	border-top: 2px solid #ffa79e;
	background-color: #fcfcfc;
	border-bottom: 1px solid #eeeeee;
}

/**
*	Wiki page
*/

.page_content {
	margin-top:		1%;
	margin-left:		-5%;
	padding:			2% 2% 2% 2.5%;
	border-top:		2px solid #eeeeee;
	border-bottom:	2px solid #eeeeee;
}

.page_content > h1 {
	font-size:		36px;
	margin:			20px 0 20px -3rem;
	padding-left:	5rem;
	padding-top:		1rem;
	padding-bottom:	1rem;
	color:			#ffffff;
	background-color: #ffa79e;
	border-bottom:	2px solid #fafafa;
}

.page_content > h2 {
	font-size:		30px;
	color:			#cc0000;
	margin:			25px 0 10px;
	padding-left:	2rem;
	padding-top:		1rem;
	padding-bottom:	1rem;
	background-color: #ffffff;
	border-left:		5px solid #ffa79e;
	border-bottom:	1px solid #fafafa;
}

.page_content > h3 {
	font-size:		24px;
	color:			#cc0000;
	margin-top:		20px;
	margin-bottom:	10px;
	padding-left:	2rem;
	padding-top:		1rem;
	padding-bottom:	1rem;
	border-left:		5px solid #ffa79e;
}

.page_content > h4 {
	font-size:		18px;
	color:			#cc0000;
	margin-top:		10px;
	margin-bottom:	10px;
	padding-left:	2rem;
	padding-top:		1rem;
	padding-bottom:	1rem;
	border-left:		5px solid #ffa79e;
}

.page_content > h5 {
	font-size:		14px;
	color:			#cc0000;
	margin-top:		10px;
	margin-bottom:	10px;
	padding-left:	2rem;
	padding-top:		1rem;
	padding-bottom:	1rem;
	border-left:		5px solid #ffa79e;
}

.page_content > h6 {
	font-size:		12px;
	color:			#cc0000;
	margin-top:		10px;
	margin-bottom:	10px;
	padding-left:	2rem;
	padding-top:		1rem;
	padding-bottom:	1rem;
	border-left:		5px solid #ffa79e;
}

.page_content > p {
	margin:		0 0 10px 0;
}

.page_content > blockquote {
	padding:		10px 20px 10px 20px;
	margin:		0 0 20px 0;
	border-left:	5px solid #eeeeee;
}

.page_content > blockquote > p {
	font-size:	14px;
}

.page_content > pre {
	display:		block;
	padding:		12px;
	margin:		0 0 10px 0;
	font-size:	13px;
	background-color: #fafafa;
	border:		1px solid #eeeeee;
	border-radius:	2px;
}

/**
*	Edit page
*/

.edit_form {
	margin-left:		-3%;
	padding:			1% 1% 3% 3%;
}

.edit_form > .bottom_btns {
	padding-top:	10px;
	/* float:		right; */
	text-align:	right;
}

.edit_form > .bottom_btns:after {
	clear:	both;
}

/**
*	Login page
*/

.login_form {
	margin-top:		2%;
	margin-left:		-3%;
	padding:			3.5% 3% 3% 3%;
}